<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${title} + '- 后台管理系统'"></title>
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/base.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>